{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block content %}


	<body>


		<div class="flex justify-center">
			<div class="relative h-9">
				
				{# Filter-Search #}

				{{form_start(form_filter)}}
				<div class="relative md:bottom-[70px] bottom-[71px]  rounded-2xl ring-2 bg-gray-800 ring-gray-800 px-6 pt-12    sm:mx-auto sm:max-w-lg sm:px-10">
					<i class="fa fa-search fa-bounce text-white relative top-9 left-6 "></i>
					<div class="mx-auto max-w-md">
						<div action="" class="relative mx-auto w-max">
							{{form_row(form_filter.partname,{
                            widget_class: 'peer cursor-pointer relative z-1 h-12 w-12 rounded-full border-none bg-transparent text-white font-bold text-xl pl-12 outline-none focus:w-full focus:cursor-text  focus:pl-16 focus:pr-4',
                            label_class: 'text-sm'
							
                        }) }}

							{{form_end(form_filter)}}
						</div>
					</div>
				</div>


			</div>
		</div>


		<div class=" bg-white py-6 flex flex-col justify-center sm:py-12">
			<div class="flex items-center justify-center p-12">
				<div class=" relative inline-block text-left dropdown">
					<span class="rounded-md shadow-sm">
						<button class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800" type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
							<span>Options</span>
							<svg class="w-5 h-5 ml-2 -mr-1" viewbox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
					</span>
					<div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-center -translate-y-2 scale-95">
						<div class="absolute -right-16 w-56 mt-2 origin-center bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
							<div class="px-4 py-3">
								<p class="text-sm leading-5">Connecté en tant que</p>
								
								<p class="text-sm font-medium leading-5 text-gray-900 truncate">Administrateur</p>
							</div>
							<div class="py-1">
								<a href="{{path('app_register')}}" tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem">Utilisateurs</a>
								<a href="{{path('ajout_partneaire')}}" tabindex="1" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem">Partenaires</a>
								<a href="{{path('ajout_service')}}" tabindex="2" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem">Services</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<style>
			.dropdown:focus-within .dropdown-menu {
				opacity: 1;
				transform: translate(0) scale(1);
				visibility: visible;
			}
		</style>


		{# Boucle Cards List #}


		<div class="lg:flex justify-center  gap-8 grid  ">
			{% for partner in partners %}
				<div class=" w-96 h-fit overflow-hidden bg-white rounded-lg shadow-lg">
					<img class="object-cover object-center w-full h-56" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar">

					<div class="flex items-center px-6 py-3 bg-gray-900">
						<div class="bg-red-700 rounded-full w-6 h-6 {{(partner.status == " active") ? " bg-green-400" : " bg-red-700"}}"></div>

						<a href="{{path('details', {'slug': partner.slug }) }}" class="w-4">
							<button type="button" class=" ml-48 px-6 py-2 font-semibold rounded w-32  bg-indigo-200 text-indigo-500 transition duration-150 ease-in-out hover:bg-indigo-100 text-xs focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-300">Détails</button>
						</a>
					</div>

					<div class="px-6 py-4">
						<div class="flex justify-end ">
							<a href="{{path('modification_partenaire', {'slug':partner.slug} )}}">
								<button class="px-6 py-2 font-semibold rounded w-fit text-xs  bg-white transition duration-150 ease-in-out focus:outline-none ring-1 ring-indigo-400 focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white   text-indigo-700">
									<i class="fa fa-pen  "></i>
								</button>
							</a>
						</div>
						<h1 class="text-xl font-semibold text-gray-800">{{partner.name}}</h1>


						<p class="py-2 text-gray-700">{{partner.description}}</p>

						<div class="flex items-center mt-4 text-gray-700">
							<i class="fa fa-id-badge text-2xl"></i>

							<h1 class="px-2 text-sm">ID
								{{partner.id}}</h1>
						</div>

						<div class="flex items-center mt-4 text-gray-700">
							<i class="fa fa-location-arrow text-2xl"></i>
							<h1 class="px-2 text-sm">{{partner.city}}</h1>
						</div>

						<div class="flex items-center mt-4 text-gray-700">
							<i class="fa fa-globe text-2xl"></i>

							<h1 class="px-2 text-sm">{{partner.website}}</h1>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
		<div class="navigation">
			{{ knp_pagination_render(partners) }}
		</div>

	</body>
{% endblock %}
