{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block content %}
   
    <div class="container p-2 mx-auto sm:p-4  ">
	<h1 class="flex justify-center mb-4 text-2xl font-semibold shadow-inner w-52 leading-tight">Liste des services</h1>
	<div class="overflow-x-auto  ">
		<table class="min-w-full text-xs ">
			<colgroup>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col class="w-24">
			</colgroup>
			<thead class="">
				<tr class="text-left">
					<th class="p-3">ID#</th>
					<th class="p-3">Services</th>
					
					<th class="p-3">Structures</th>
					<th class="p-3 text-right">Amount</th>
					<th class="p-3"></th>
				</tr>
			</thead>
			<tbody>
            {% for services in permissions %}
				<tr class="border-b border-opacity-20 ">
					<td class="p-3">
						<p>{{ services.id }}</p>
					</td>
					<td class="p-3">
						<p>{{ services.name }}</p>
					</td>
					
					<td class="p-3">
						<p>{{services.service.name}}</p>
						
					</td>
                    
					<td class="p-3 text-right">
						<span class="px-3 py-1 font-semibold rounded-md ">
							<a href="{{path('modification_service', {'id':services.id} )}}">
								<button class="mx-2 my-2 bg-indigo-400 transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-300 focus:ring-white hover:bg-indigo-600 rounded text-gray-100 px-6 py-2 text-sm">
									<i class="fa fa-trash mr-2"></i>Modifier</button>
						</span>
					</td>
					<td class="p-3 text-right">
						<span class="px-3 py-1 font-semibold rounded-md ">
							<a href="{{path('service_delete', {'id':services.id} )}}">
								<button class="mx-2 my-2 bg-indigo-400 transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-300 focus:ring-white hover:bg-indigo-600 rounded text-gray-100 px-6 py-2 text-sm">
									<i class="fa fa-trash mr-2"></i>Supprimer</button>
						</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="flex justify-center">
	<a class="  flex justify-center w-16 font-semibold  text-indigo-500 transition duration-150 ease-in-out hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 border bg-indigo-100  px-8 py-2   text-sm mt-10 rounded-2xl" href="{{ path('ajout_service') }}">Retour</a>
	</div>
    

    
{% endblock %}
